@model IEnumerable<BikeStore.Models.OrderViewModel>
@using BikeStore.Classes;
@using Core.Entities;

    @{ViewBag.url = "/Order/OrdersList";}

<input id="pageNum" type="hidden" value="@(((TableQuery)ViewBag.Filtered).PageNumber)" />
<input id="pagesCount" type="hidden" value="@(((TableQuery)ViewBag.Filtered).PagesCount)" />
<input id="Sort" type="hidden" value="@(((TableQuery)ViewBag.Filtered).Sorting)" />


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order Date</th>
            <th scope="col">Required Date</th>
            <th scope="col">Shipped date</th>
            <th scope="col">Store Name</th>
            <th scope="col">Staff Name</th>
            <th scope="col"></th>

        </tr>
    </thead>

    <tbody>
        @{
            int i = ((TableQuery)ViewBag.Filtered).RowNumberStart;
        }
        @foreach (OrderViewModel order in Model)
        {

            <tr>
                <th scope="row">@(++i)</th>
                <td>@(order.Customer.FirstName + " " + order.Customer.LastName)</td>
                <td>
                    @{
                        switch (order.OrderStatus)
                        {
                            case (byte)OrderStatus.Pending:
                                                        <text>
                                                            Pending
                                                        </text>
                                break;  
                            case (byte)OrderStatus.Processing:
                                                        <text>
                                                            processing
                                                        </text>
                                break;

                                 case (byte)OrderStatus.Rejected:
                                                        <text>
                                                            Rejected
                                                        </text>
                                break;
                                 case (byte)OrderStatus.Completed:
                                                        <text>
                                                            Completed
                                                        </text>
                                break;
                                
                            }
                    }
                </td>
                <td>@order.OrderDate</td>
                <td>@order.RequiredDate</td>
                <td>@order.ShippedDate</td>
                <td>@order.Store.StoreName</td>
                <td>@(order.Staff.FirstName + " " + order.Staff.LastName)</td>
                <td>
                    <button data-url="@Url.Action("Edit")" data-id="@order.OrderId" type="submit" onclick="OpenModal(this,'/Order/Edit')"
                        class="btn btn-secondary" value="Edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                    </button>
                    <button data-url="@Url.Action("Delete")" data-id="@order.OrderId" type="submit"
                        class="btn btn-danger delete" value="Delete" onclick="AlertDeleteData(this,'/Order/Delete')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </td>
            </tr>


        }
    </tbody>
</table>

<partial name="~/Views/Shared/_PageNavNum.cshtml" />


